<div class="max-w-2xl mx-auto rounded-lg shadow-2xl border-4">
    <p class="text-center uppercase font-bold my-4">Registro del <span class="text-secondary">Estudiante</span></p>
    <div class="rounded-lg shadow-2xl border-4 grid grid-cols m-4 p-4 gap-4">
        <p>Número de cédula:</p>
        <input class="input input-primary" type="text" id="teacher_dni">
        <p>Nombre Completo:</p>
        <input class="input input-primary" type="text" id="teacher_fullname">
        <p>Seleccione una carrera:</p>
        <select id="teacher_area" class="input input-primary">
            <option value="Software">Desarrollo de Software</option>
            <option value="Art">Arte Culinario</option>
            <option value="Marketing">Marketing</option>
        </select>
        <button class="btn btn-success" onclick="addTeacher()">Guardar</button>
    </div>
</div>