<div class="max-w-2xl mx-auto rounded-lg shadow-2xl border-4">
    <p class="text-center uppercase font-bold my-4">Registro del <span class="text-secondary">Docente</span></p>
    <div class="rounded-lg shadow-2xl border-4 grid grid-cols m-4 p-4 gap-4">
        <p>Número de cédula:</p>
        <input class="input input-primary" type="text" id="teacher_dni">
        <p>Nombre y apellido:</p>
        <input class="input input-primary" type="text" id="teacher_fullname">
        <p>Asignatura:</p>
        <input class="input input-primary" type="text" id="teacher_asignature">
        <p>Salario:</p>
        <input class="input input-primary" type="text" id="teacher_salary">
        <p>Profesión:</p>
        <input class="input input-primary" type="text" id="teacher_profession">
        <button class="btn btn-success" onclick="addTeacher()">Guardar</button>
    </div>
</div>